node_modules/

witness.json
witness.wtns
circuit.wasm
calcwit.cpp
calcwit.hpp
circom.hpp
circuit.cpp
circuit.dat
circuit.fast
circuit.fast.dat
circuit.r1cs
circuit.sym
fr.asm
fr.cpp
fr.hpp
fr.o
main.cpp
srcs.sum
utils.cpp
utils.hpp